{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/favicon.ico' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/admin-dashboard-cards.css' %}"
    />
    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title>Hasthi</title>
    <style>
      body {
        height: 110%;
        padding-bottom: 50px;
      }
    </style>
  </head>
  <body>
    {% include 'admin_fullnav.html' %}
    <div class="cards-container">
      <div class="card-wrap">
        <div class="card-header one">
          <i class="fas fa-hourglass"></i>
        </div>
        <div class="card-content">
          <h1 class="card-title">Pending Bookings <br> 👉 {{Pending}}</h1>
        </div>
      </div>
      <div class="card-wrap">
        <div class="card-header two">
          <i class="fas fa-check-circle"></i>
        </div>
        <div class="card-content">
          <h1 class="card-title">Accepted Bookings <br> 👉 {{Accepted}}</h1>
        </div>
      </div>
      <div class="card-wrap">
        <div class="card-header three">
          <i class="fas fa-ban"></i>
        </div>
        <div class="card-content">
          <h1 class="card-title">Rejected Bookings <br> 👉 {{Rejected}}</h1>
        </div>
      </div>
      <div class="card-wrap">
        <div class="card-header four">
          <i class="fas fa-circle-xmark"></i>
        </div>
        <div class="card-content">
          <h1 class="card-title">Cancelled Bookings <br> 👉 {{Cancelled}}</h1>
        </div>
      </div>
      <div class="card-wrap">
        <div class="card-header five">
          <i class="fas fa-check-double"></i>
        </div>
        <div class="card-content">
          <h1 class="card-title">Journey Completed Bookings <br> 👉 {{Completed}}</h1>
          <!-- <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p> -->
        </div>
      </div>
    </div>
  </body>
</html>
